In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import re
from bs4 import BeautifulSoup

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()
print(df.shape)

(404290, 6)

In [4]:
def preprocess(q):

    q = str(q).lower().strip()

    # Replace certain special characters with their string equivalents
    q = q.replace('%', ' percent')
    q = q.replace('$', ' dollar ')
    q = q.replace('₹', ' rupee ')
    q = q.replace('€', ' euro ')
    q = q.replace('@', ' at ')

    # The pattern '[math]' appears around 900 times in the whole dataset.
    q = q.replace('[math]', '')

    # Replacing some numbers with string equivalents (not perfect, can be done better to account for more cases)
    q = q.replace(',000,000,000 ', 'b ')
    q = q.replace(',000,000 ', 'm ')
    q = q.replace(',000 ', 'k ')
    q = re.sub(r'([0-9]+)000000000', r'\1b', q)
    q = re.sub(r'([0-9]+)000000', r'\1m', q)
    q = re.sub(r'([0-9]+)000', r'\1k', q)

    # Decontracting words
    # https://en.wikipedia.org/wiki/Wikipedia%3aList_of_English_contractions
    # https://stackoverflow.com/a/19794953
    contractions = {
    "ain't": "am not",
    "aren't": "are not",
    "can't": "can not",
    "can't've": "can not have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }

    q_decontracted = []

    for word in q.split():
        if word in contractions:
            word = contractions[word]

        q_decontracted.append(word)

    q = ' '.join(q_decontracted)
    q = q.replace("'ve", " have")
    q = q.replace("n't", " not")
    q = q.replace("'re", " are")
    q = q.replace("'ll", " will")

    # Removing HTML tags
    q = BeautifulSoup(q)
    q = q.get_text()

    # Remove punctuations
    pattern = re.compile('\W')
    q = re.sub(pattern, ' ', q).strip()


    return q

In [5]:
df['question1'] = df['question1'].apply(preprocess)
df['question2'] = df['question2'].apply(preprocess)

In [6]:
df['q1_len'] = df['question1'].str.len()
df['q2_len'] = df['question2'].str.len()

In [7]:
df.dropna(inplace=True)

In [8]:
df['q1_num_words'] = df['question1'].apply(lambda x: len(x.split(" ")))
df['q2_num_words'] = df['question2'].apply(lambda x: len(x.split(" ")))
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,65,56,14,12
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,50,87,12,17
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0,72,58,14,10
3,3,7,8,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divi...,0,49,58,12,16
4,4,9,10,which one dissolve in water quikly sugar salt...,which fish would survive in salt water,0,75,38,15,7

In [9]:
def common_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split(" ")))
    return len(w1 & w2)


df['word_common'] = df.apply(common_words, axis=1)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,65,56,14,12,11
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,50,87,12,17,8
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0,72,58,14,10,4
3,3,7,8,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divi...,0,49,58,12,16,1
4,4,9,10,which one dissolve in water quikly sugar salt...,which fish would survive in salt water,0,75,38,15,7,4

In [10]:
def total_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['question1'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['question2'].split(" ")))
    return (len(w1) + len(w2))

In [11]:
df['word_total'] = df.apply(total_words, axis=1)
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total
0,0,1,2,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...,0,65,56,14,12,11,23
1,1,3,4,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...,0,50,87,12,17,8,26
2,2,5,6,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...,0,72,58,14,10,4,24
3,3,7,8,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divi...,0,49,58,12,16,1,22
4,4,9,10,which one dissolve in water quikly sugar salt...,which fish would survive in salt water,0,75,38,15,7,4,21

In [12]:
df['word_share'] = round(df['word_common']/df['word_total'],2)
df.head(0)

Empty DataFrame
Columns: [id, qid1, qid2, question1, question2, is_duplicate, q1_len, q2_len, q1_num_words, q2_num_words, word_common, word_total, word_share]
Index: []

In [13]:
from nltk.corpus import stopwords

In [14]:
def fetch_token_features(row):

    q1 = row['question1']
    q2 = row['question2']

    SAFE_DIV = 0.0001

    STOP_WORDS = stopwords.words("english")

    token_features = [0.0]*8

    # Converting the Sentence into Tokens:
    q1_tokens = q1.split()
    q2_tokens = q2.split()

    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return token_features

    # Get the non-stopwords in Questions
    q1_words = set([word for word in q1_tokens if word not in STOP_WORDS])
    q2_words = set([word for word in q2_tokens if word not in STOP_WORDS])

    #Get the stopwords in Questions
    q1_stops = set([word for word in q1_tokens if word in STOP_WORDS])
    q2_stops = set([word for word in q2_tokens if word in STOP_WORDS])

    # Get the common non-stopwords from Question pair
    common_word_count = len(q1_words.intersection(q2_words))

    # Get the common stopwords from Question pair
    common_stop_count = len(q1_stops.intersection(q2_stops))

    # Get the common Tokens from Question pair
    common_token_count = len(set(q1_tokens).intersection(set(q2_tokens)))


    token_features[0] = common_word_count / (min(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[1] = common_word_count / (max(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[2] = common_stop_count / (min(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[3] = common_stop_count / (max(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[4] = common_token_count / (min(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[5] = common_token_count / (max(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)

    # Last word of both question is same or not
    token_features[6] = int(q1_tokens[-1] == q2_tokens[-1])

    # First word of both question is same or not
    token_features[7] = int(q1_tokens[0] == q2_tokens[0])

    return token_features

In [15]:
token_features = df.apply(fetch_token_features, axis=1)

df["cwc_min"]       = list(map(lambda x: x[0], token_features))
df["cwc_max"]       = list(map(lambda x: x[1], token_features))
df["csc_min"]       = list(map(lambda x: x[2], token_features))
df["csc_max"]       = list(map(lambda x: x[3], token_features))
df["ctc_min"]       = list(map(lambda x: x[4], token_features))
df["ctc_max"]       = list(map(lambda x: x[5], token_features))
df["last_word_eq"]  = list(map(lambda x: x[6], token_features))
df["first_word_eq"] = list(map(lambda x: x[7], token_features))

In [17]:
import distance
q1="capital of india is delhi"
q2 = "capital of india is xyz"

trial = list(distance.lcsubstrings(q1, q2))

In [18]:
trial[0]

'capital of india is '

In [19]:
import distance

def fetch_length_features(row):

    q1 = row['question1']
    q2 = row['question2']

    length_features = [0.0]*3

    # Converting the Sentence into Tokens:
    q1_tokens = q1.split()
    q2_tokens = q2.split()

    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return length_features

    # Absolute length features
    length_features[0] = abs(len(q1_tokens) - len(q2_tokens))

    #Average Token Length of both Questions
    length_features[1] = (len(q1_tokens) + len(q2_tokens))/2

    strs = list(distance.lcsubstrings(q1, q2))
    if len(strs) > 0:
        length_features[2] = len(strs[0]) / (min(len(q1), len(q2)) + 1)
    else:
        length_features[2] = 0.0 # Handle cases where no common substring is found

    return length_features

In [20]:

length_features = df.apply(fetch_length_features, axis=1)

df['abs_len_diff'] = list(map(lambda x: x[0], length_features))
df['mean_len'] = list(map(lambda x: x[1], length_features))
df['longest_substr_ratio'] = list(map(lambda x: x[2], length_features))

In [21]:
#pip install fuzzywuzzy

In [22]:
# Fuzzy Features
from fuzzywuzzy import fuzz

def fetch_fuzzy_features(row):

    q1 = row['question1']
    q2 = row['question2']

    fuzzy_features = [0.0]*4

    # fuzz_ratio
    fuzzy_features[0] = fuzz.QRatio(q1, q2)

    # fuzz_partial_ratio
    fuzzy_features[1] = fuzz.partial_ratio(q1, q2)

    # token_sort_ratio
    fuzzy_features[2] = fuzz.token_sort_ratio(q1, q2)

    # token_set_ratio
    fuzzy_features[3] = fuzz.token_set_ratio(q1, q2)

    return fuzzy_features

In [23]:
fuzzy_features = df.apply(fetch_fuzzy_features, axis=1)

# Creating new feature columns for fuzzy features
df['fuzz_ratio'] = list(map(lambda x: x[0], fuzzy_features))
df['fuzz_partial_ratio'] = list(map(lambda x: x[1], fuzzy_features))
df['token_sort_ratio'] = list(map(lambda x: x[2], fuzzy_features))
df['token_set_ratio'] = list(map(lambda x: x[3], fuzzy_features))

In [ ]:
#pip show gensim

In [105]:
df.shape

(404290, 28)

In [25]:
ques_df = df[['question1','question2']]
ques_df.head()

,question1,question2
0,what is the step by step guide to invest in sh...,what is the step by step guide to invest in sh...
1,what is the story of kohinoor koh i noor dia...,what would happen if the indian government sto...
2,how can i increase the speed of my internet co...,how can internet speed be increased by hacking...
3,why am i mentally very lonely how can i solve it,find the remainder when 23 24 math is divi...
4,which one dissolve in water quikly sugar salt...,which fish would survive in salt water

In [106]:
final_df = df.drop(columns=['id','qid1','qid2','question1','question2'])
print(final_df.shape)
final_df.head()

(404290, 23)

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,longest_substr_ratio,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio
0,0,65,56,14,12,11,23,0.48,0.999980,0.833319,...,0.785709,0.0,1.0,2.0,13.0,0.982456,93,100,93,100
1,0,50,87,12,17,8,26,0.31,0.799984,0.399996,...,0.466664,0.0,1.0,5.0,12.5,0.588235,66,74,63,86
2,0,72,58,14,10,4,24,0.17,0.399992,0.333328,...,0.285712,0.0,1.0,4.0,12.0,0.169492,43,46,63,63
3,0,49,58,12,16,1,22,0.05,0.000000,0.000000,...,0.000000,0.0,0.0,1.0,11.5,0.040000,9,11,25,28
4,0,75,38,15,7,4,21,0.19,0.399992,0.199998,...,0.307690,0.0,1.0,6.0,10.0,0.153846,35,55,47,67

In [93]:
questions = list(ques_df['question1']) + list(ques_df['question2'])

In [94]:
len(questions)

808580

In [29]:
import gensim

In [95]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download("punkt")
nltk.download("stopwords")
nltk.download('wordnet')

stop_words = set(stopwords.words("english"))

def preprocess2(text):
    
    tokens = word_tokenize(text)
    tokens = [w for w in tokens if w not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return tokens

processed_questions = [preprocess2(text) for text in questions]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\gyana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gyana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\gyana\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [97]:
len(processed_questions)

808580

In [98]:
modelword2vec = gensim.models.Word2Vec(
    sentences=processed_questions,
    window=10,
    min_count=2,
    workers=8,
    vector_size=100,
    epochs= 10
)

Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'
Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'

In [99]:
modelfasttext = gensim.models.FastText(
    sentences=processed_questions,
    window=10,
    min_count=2,
    workers=8,
    vector_size=100,
    epochs= 10
)

Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'
Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'
Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'
Exception ignored in: 'gensim.models.word2vec_inner.our_dot_float'

In [100]:
def sentence_vector(tokens, model, vector_size=100):
    vectors = []
    
    for word in tokens:
        if word in model.wv:
            vectors.append(model.wv[word])
    
    if len(vectors) == 0:
        return np.zeros(vector_size)
    
    return np.mean(vectors, axis=0)


# Generate vectors for each question
question_vectors = [
    sentence_vector(q, modelword2vec, 100)
    for q in processed_questions
]

# Convert to NumPy array (feature matrix)
q1_arr, q2_arr = np.vsplit(np.array(question_vectors),2)

In [101]:
print(q1_arr.shape)
print(q2_arr.shape)

(404290, 100)
(404290, 100)

In [102]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(404290, 200)

In [107]:
final_df = pd.concat([final_df, temp_df], axis=1)
print(final_df.shape)
final_df.head()

(404290, 223)

,is_duplicate,q1_len,q2_len,q1_num_words,q2_num_words,word_common,word_total,word_share,cwc_min,cwc_max,...,90,91,92,93,94,95,96,97,98,99
0,0,65,56,14,12,11,23,0.48,0.999980,0.833319,...,0.780336,-1.885313,0.621111,0.520869,0.981062,1.112677,-2.134688,1.867780,-1.489558,-1.480684
1,0,50,87,12,17,8,26,0.31,0.799984,0.399996,...,0.222077,-0.609423,-0.096324,0.755762,-0.088624,0.045004,-0.038927,-0.109331,-0.503185,-0.241880
2,0,72,58,14,10,4,24,0.17,0.399992,0.333328,...,-0.207473,-0.126709,-0.408010,-0.250441,-0.174914,0.200548,0.425348,0.454915,0.508013,-0.122704
3,0,49,58,12,16,1,22,0.05,0.000000,0.000000,...,-0.190294,0.305037,0.850141,0.521457,0.702823,-1.073392,-0.438617,0.567374,-1.175828,0.350747
4,0,75,38,15,7,4,21,0.19,0.399992,0.199998,...,-0.741460,-0.792655,-0.951353,0.968205,-0.198510,1.002240,0.169198,-1.515691,1.288011,0.728339

In [108]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(final_df.iloc[:,1:].values,final_df.iloc[:,0].values,test_size=0.2,random_state=1)

In [109]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.8357614583590987

In [110]:
from sklearn.metrics import confusion_matrix
# for random forest model
confusion_matrix(y_test,y_pred)

array([[45189,  5890],
       [ 7390, 22389]])

In [111]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred1 = xgb.predict(X_test)
accuracy_score(y_test,y_pred1)

0.8192510326745653

In [112]:
# for xgboost model
confusion_matrix(y_test,y_pred1)

array([[43817,  7262],
       [ 7353, 22426]])

In [113]:
def preprocess2(text):
    
    tokens = word_tokenize(text)
    tokens = [w for w in tokens if w not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return tokens

In [117]:
q1 = 'Where is the capital of India?'
q2 = 'Which city serves as the capital of India?'

In [128]:
modelword2vec.wv['india'].reshape(1,100)

array([[ 1.305645  , -1.8990363 , -2.4750235 ,  0.58706343,  1.0416067 ,
         1.360986  , -1.028053  , -1.1337613 ,  0.2841231 ,  1.8571049 ,
        -0.12239847, -1.2026917 , -0.25256175,  1.7435426 , -0.01210015,
        -1.0362785 ,  1.9126343 ,  0.81490624,  0.04254476,  0.47754097,
        -1.1370223 , -1.7582499 , -2.494752  ,  1.2487932 ,  2.1082137 ,
        -0.31415683,  0.80866647,  0.5128627 , -2.030261  , -0.7554891 ,
         0.16628271, -0.7178331 , -1.4595242 ,  0.36563855,  2.3746648 ,
         0.17330226, -1.1673441 ,  0.28761286,  0.81830156,  0.35082957,
        -2.0166938 ,  1.8377025 , -1.3164002 ,  0.45939052, -0.33031934,
         1.1014184 , -1.8408078 , -1.4319081 , -0.87088853,  0.2826185 ,
         0.5883626 ,  0.11933333,  0.64306444, -0.9420063 , -0.2673876 ,
        -1.8230324 ,  0.9619028 , -1.711291  , -3.0860362 , -1.114257  ,
         1.1994009 ,  1.0792542 , -0.06492585,  0.84342635,  0.53702986,
         0.7754613 , -2.197663  , -1.3948661 ,  1.2225517 ,  1.8610334 ,
         1.132001  , -0.45558116, -1.4253063 , -1.5198494 ,  0.48111933,
         0.27413422,  0.7344823 ,  0.09128812,  0.3534357 ,  0.83898455,
         2.0917563 ,  0.43887487, -1.9748331 , -1.8868108 , -1.0679599 ,
         0.18760803,  1.0637654 , -1.33006   ,  0.8476031 , -0.94871765,
         0.8209779 , -1.7049052 ,  0.345001  , -1.5770898 , -0.14160872,
         1.2405076 ,  0.19436125,  0.09872601, -1.7398933 , -0.82866377]],
      dtype=float32)

def vectorize_question_pair(q1, q2, model, size=100):
    """
    Takes two questions and returns their feature vectors of dim (1,100)
    """

    # Step 1: Preprocess
    q1_tokens = preprocess2(q1)
    q2_tokens = preprocess2(q2)

    # Step 2: Convert tokens to vectors
    def tokens_to_vec(tokens):
        vecs = [model.wv[w] for w in tokens]

        if len(vecs) == 0:
            return np.zeros(size)

        return np.mean(vecs, axis=0)

    q1_vec = tokens_to_vec(q1_tokens)
    q2_vec = tokens_to_vec(q2_tokens)

    return q1_vec, q2_vec

In [137]:
# for word2vec, if word not in word2vec model, there will be key error, so first check if
#token is there in word2vec if yes then append else pass np.zeros
def vectorize_question_pair(q1, q2, model, size=100):

    q1_tokens = preprocess2(q1)
    q2_tokens = preprocess2(q2)

    def tokens_to_vec(tokens):

        vecs = []

        for w in tokens:
            if w in model.wv:          # ✅ check first
                vecs.append(model.wv[w])

        if len(vecs) == 0:
            return np.zeros(size)

        return np.mean(vecs, axis=0)

    q1_vec = tokens_to_vec(q1_tokens)
    q2_vec = tokens_to_vec(q2_tokens)

    return q1_vec, q2_vec

In [133]:
v1, v2= vectorize_question_pair(q1,q2,modelword2vec,100)
print(v2.reshape(1,100))

[[-0.69403785  0.19116217 -1.3763689   0.15147205  0.8915644   1.3673143
  -0.16293992  0.45662975  0.27040133 -0.02088483 -1.4674691   0.38114277
   0.734487   -0.06344044  0.4993707  -1.9114875   0.27872396 -0.354872
   1.5247103   0.73101115 -0.90656614 -0.434055    0.8749127   1.101555
  -0.5985229   0.7113947   0.03931419 -0.28572655 -0.32253587  0.08701483
   0.44727364 -0.02132112 -1.2427157  -0.16792345  1.1593118  -0.39061964
  -0.9864891  -1.2510711   0.15522979  0.44822845 -0.8890586  -1.2118964
  -0.5438415  -0.06017651 -0.49296257  0.9768862   0.75725865  0.16577749
  -1.1464263  -0.7654013   0.26581052 -0.07268844  0.92433053  0.27109715
  -0.22158463  0.20979281  0.09667655  0.90168285 -1.9812034  -0.9036599
   1.1609164  -0.06208324 -0.2679096   0.25050172 -0.31695023  0.75917965
  -0.5545159  -0.04655584  0.0473248   0.93665236  0.13105716  0.1237703
   0.7435398  -0.5874749   0.9125771  -0.85611415 -1.4503231  -1.0782965
   1.1359857  -0.03249311  0.8165657  -1.5429277   0.1282935   0.10117433
   0.3626186  -0.8533601  -0.09548501 -0.61115515 -0.05108527  0.8897663
   0.8084612  -2.0126317   1.3326123   0.67077285 -0.37537017  0.12715901
   1.2950914   2.209061   -0.53171784  0.0755593 ]]

In [134]:
def test_common_words(q1,q2):
    w1 = set(map(lambda word: word.lower().strip(), q1.split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), q2.split(" ")))    
    return len(w1 & w2)

In [135]:
def test_total_words(q1,q2):
    w1 = set(map(lambda word: word.lower().strip(), q1.split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), q2.split(" ")))    
    return (len(w1) + len(w2))

In [136]:
def test_fetch_token_features(q1,q2):
    
    SAFE_DIV = 0.0001 

    STOP_WORDS = stopwords.words("english")
    
    token_features = [0.0]*8
    
    # Converting the Sentence into Tokens: 
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return token_features

    # Get the non-stopwords in Questions
    q1_words = set([word for word in q1_tokens if word not in STOP_WORDS])
    q2_words = set([word for word in q2_tokens if word not in STOP_WORDS])
    
    #Get the stopwords in Questions
    q1_stops = set([word for word in q1_tokens if word in STOP_WORDS])
    q2_stops = set([word for word in q2_tokens if word in STOP_WORDS])
    
    # Get the common non-stopwords from Question pair
    common_word_count = len(q1_words.intersection(q2_words))
    
    # Get the common stopwords from Question pair
    common_stop_count = len(q1_stops.intersection(q2_stops))
    
    # Get the common Tokens from Question pair
    common_token_count = len(set(q1_tokens).intersection(set(q2_tokens)))
    
    
    token_features[0] = common_word_count / (min(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[1] = common_word_count / (max(len(q1_words), len(q2_words)) + SAFE_DIV)
    token_features[2] = common_stop_count / (min(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[3] = common_stop_count / (max(len(q1_stops), len(q2_stops)) + SAFE_DIV)
    token_features[4] = common_token_count / (min(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    token_features[5] = common_token_count / (max(len(q1_tokens), len(q2_tokens)) + SAFE_DIV)
    
    # Last word of both question is same or not
    token_features[6] = int(q1_tokens[-1] == q2_tokens[-1])
    
    # First word of both question is same or not
    token_features[7] = int(q1_tokens[0] == q2_tokens[0])
    
    return token_features

In [138]:
def test_fetch_length_features(q1,q2):
    
    length_features = [0.0]*3
    
    # Converting the Sentence into Tokens: 
    q1_tokens = q1.split()
    q2_tokens = q2.split()
    
    if len(q1_tokens) == 0 or len(q2_tokens) == 0:
        return length_features
    
    # Absolute length features
    length_features[0] = abs(len(q1_tokens) - len(q2_tokens))
    
    #Average Token Length of both Questions
    length_features[1] = (len(q1_tokens) + len(q2_tokens))/2
    
    strs = list(distance.lcsubstrings(q1, q2))
    if len(strs) > 0:
        length_features[2] = len(strs[0]) / (min(len(q1), len(q2)) + 1)
    else:
        length_features[2] = 0.0 # Handle cases where no common substring is found
    
    return length_features

In [139]:
def test_fetch_fuzzy_features(q1,q2):
    
    fuzzy_features = [0.0]*4
    
    # fuzz_ratio
    fuzzy_features[0] = fuzz.QRatio(q1, q2)

    # fuzz_partial_ratio
    fuzzy_features[1] = fuzz.partial_ratio(q1, q2)

    # token_sort_ratio
    fuzzy_features[2] = fuzz.token_sort_ratio(q1, q2)

    # token_set_ratio
    fuzzy_features[3] = fuzz.token_set_ratio(q1, q2)

    return fuzzy_features

In [149]:
def query_point_creator(q1,q2):
    
    input_query = []
    
    # preprocess
    q1 = preprocess(q1)
    q2 = preprocess(q2)
    
    # fetch basic features
    input_query.append(len(q1))
    input_query.append(len(q2))
    
    input_query.append(len(q1.split(" ")))
    input_query.append(len(q2.split(" ")))
    
    input_query.append(test_common_words(q1,q2))
    input_query.append(test_total_words(q1,q2))
    input_query.append(round(test_common_words(q1,q2)/test_total_words(q1,q2),2))
    
    # fetch token features
    token_features = test_fetch_token_features(q1,q2)
    input_query.extend(token_features)
    
    # fetch length based features
    length_features = test_fetch_length_features(q1,q2)
    input_query.extend(length_features)
    
    # fetch fuzzy features
    fuzzy_features = test_fetch_fuzzy_features(q1,q2)
    input_query.extend(fuzzy_features)
    
    # fasttext feature vectors for q1 and q2
    q1_word2vec, q2_word2vec=vectorize_question_pair(q1,q2,modelword2vec,100)
    
    
    
    
    return np.hstack((np.array(input_query).reshape(1,22),q1_word2vec.reshape(1,100),q2_word2vec.reshape(1,100)))

In [157]:
q3 = 'Where is the capital of India?'
q4 = 'what is the step by step guide to invest in share market in india'
q5 = 'Which city serves as the capital of India?'
q6 = 'What is the business capital of India?'
q7= 'what is the step by step guide to invest in share market'

In [158]:
rf.predict(query_point_creator(q4,q7))

array([0])

In [159]:
modelword2vec

In [160]:
import pickle

pickle.dump(rf,open('my_rf_model.pkl','wb'))
pickle.dump(modelword2vec,open('my_modelword2vec.pkl','wb'))